
@{
    ViewBag.Title = "Charts";
}


<link href="~/Content/css/Site.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-3">
        <img id="hiphop" src="~/Content/Images/hiphop.jpg" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div class="row" id="chartTitle">
            <div class="arrow bounce">
                <h2>Album'$ List</h2>
            </div>
        </div>
        <div class="row">
            <table>
                <tr>
                    <td style="color:#d05252;">Album ID</td>
                    <td style="color:#d05252;">Album Title</td>
                    <td style="color:#d05252;">Artist/s</td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>Free</td>
                    <td>6lack</td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>All Eyez on me</td>
                    <td>Tupac Shakur</td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Lethal Injection</td>
                    <td>Ice Cube</td>

                </tr>
                <tr>
                    <td>4</td>
                    <td>MAXIMUM</td>
                    <td>Kc Rebell & Summer Cam</td>

                </tr>
                <tr>
                    <td>5</td>
                    <td>MAXIMUM III</td>
                    <td>Kc Rebell & Summer Cam</td>

                </tr>
                <tr>
                    <td>6</td>
                    <td>Candy Shop</td>
                    <td>50 Cent</td>

                </tr>
                <tr>
                    <td>7</td>
                    <td>Deux frères</td>
                    <td>PNL</td>

                </tr>
                <tr>
                    <td>8</td>
                    <td>Fruit de dèmon</td>
                    <td>Soolking</td>

                </tr>
                <tr>
                    <td>9</td>
                    <td>Dreams Worth More Than Money</td>
                    <td>Meek Mill</td>

                </tr>
                <tr>
                    <td>10</td>
                    <td>good kid, m.A.A.d</td>
                    <td>Kendrick Lamar</td>

                </tr>
                <tr>
                    <td>11</td>
                    <td>Ready to Die</td>
                    <td>Big Poppa</td>

                </tr>
                <tr>
                    <td>12</td>
                    <td>The Chronic</td>
                    <td>Dr Dre</td>

                </tr>
                <tr>
                    <td>13</td>
                    <td>Gangsta's Paradise</td>
                    <td>Coolio</td>

                </tr>
                <tr>
                    <td>14</td>
                    <td>Platte</td>
                    <td>Apache 207</td>

                </tr>
                <tr>
                    <td>15</td>
                    <td>The Eminem Show</td>
                    <td>Eminem</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>

    <!--Modal: Free 6lack-->
    <div class="modal" tabindex="-1" role="dialog" id="free">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">6lack - Free</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('free').style.display='none'">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="~/Content/Images/6LackAlbum10.jpg" />
                </div>
                <div class="modal-footer">
                    Ricardo Valdez Valentine Jr., known professionally as 6lack,
                    is an American singer, rapper, and songwriter.
                    He initially gained notable recognition following the release of his single,
                    "Prblms", taken from his debut album, Free 6lack, which was released in November 2016
                </div>
            </div>
        </div>
    </div>

    <!--Modal: All Eyez on me - Tupac Shakur-->
    <div class="modal" tabindex="-1" role="dialog" id="alleyez">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">All Eyez on me - Tupac Shakur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('alleyez').style.display='none'">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="~/Content/Images/2pacAlbum1.jpg" />
                </div>
                <div class="modal-footer">
                    Tupac Amaru Shakur, better known by his stage name 2Pac
                    and by his alias Makaveli, was an American rapper and actor.
                    He is widely considered to be one of the most influential rappers of all time.
                </div>
            </div>
        </div>
    </div>

    <!--Modal: Lethal Injection - IceCube-->
    <div class="modal" tabindex="-1" role="dialog" id="lethal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lethal Injection - IceCube</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('lethal').style.display='none'">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="~/Content/Images/iceCubeAlbum3.jpg" />
                </div>
                <div class="modal-footer">
                    O'Shea Jackson, known professionally as Ice Cube, 
                    is an American rapper, actor, and filmmaker. 
                    His lyrics on N.W.A's 1988 album Straight Outta Compton contributed 
                    to gangsta rap's widespread popularity, and his political rap solo albums 
                    of 1990 and 1991 were critically and commercially successful.
                </div>
            </div>
        </div>
    </div>





</div>
<script>
    
    window.addEventListener("load", function () {
        
        var bodyT = document.getElementsByTagName("tbody")[0];
        var childrens = bodyT.children;
        
        childrens[1].onclick = function () {
            
            document.getElementById("free").style.display="block";
        }
        childrens[2].onclick = function () {
            
            document.getElementById("alleyez").style.display = "block";
        }
        childrens[3].onclick = function () {

            document.getElementById("lethal").style.display = "block";
        }
 
    });

</script>
