
@{
    ViewBag.Title = "Charts";
}


<link href="~/Content/css/Site.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-3">
        <img id="hiphop" src="~/Content/Images/hiphop.jpg" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div class="row" id="chartTitle">
            <div class="arrow bounce">
                <h2>Album'$ List</h2>
            </div>
        </div>
        <div class="row">
            <table>
                <tr>
                    <td style="color:#d05252;">Album ID</td>
                    <td style="color:#d05252;">Album Title</td>
                    <td style="color:#d05252;">Artist/s</td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>Free</td>
                    <td>6lack</td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>All Eyez on me</td>
                    <td>Tupac Shakur</td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Lethal Injection</td>
                    <td>Ice Cube</td>

                </tr>
                <tr>
                    <td>4</td>
                    <td>MAXIMUM</td>
                    <td>Kc Rebell & Summer Cam</td>

                </tr>
                <tr>
                    <td>5</td>
                    <td>MAXIMUM III</td>
                    <td>Kc Rebell & Summer Cam</td>

                </tr>
                <tr>
                    <td>6</td>
                    <td>Candy Shop</td>
                    <td>50 Cent</td>

                </tr>
                <tr>
                    <td>7</td>
                    <td>Deux frères</td>
                    <td>PNL</td>

                </tr>
                <tr>
                    <td>8</td>
                    <td>Fruit de dèmon</td>
                    <td>Soolking</td>

                </tr>
                <tr>
                    <td>9</td>
                    <td>Dreams Worth More Than Money</td>
                    <td>Meek Mill</td>

                </tr>
                <tr>
                    <td>10</td>
                    <td>good kid, m.A.A.d</td>
                    <td>Kendrick Lamar</td>

                </tr>
                <tr>
                    <td>11</td>
                    <td>Ready to Die</td>
                    <td>Big Poppa</td>

                </tr>
                <tr>
                    <td>12</td>
                    <td>The Chronic</td>
                    <td>Dr Dre</td>

                </tr>
                <tr>
                    <td>13</td>
                    <td>Gangsta's Paradise</td>
                    <td>Coolio</td>

                </tr>
                <tr>
                    <td>14</td>
                    <td>Platte</td>
                    <td>Apache 207</td>

                </tr>
                <tr>
                    <td>15</td>
                    <td>The Eminem Show</td>
                    <td>Eminem</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>


</div>


