
<!--Meta tags-->
<meta name="description" content="Music App">
<meta name="keywords" content="HTML, CSS, JavaScript">
<!--Getting site.css stylesheet-->
<link href="~/Content/css/Site.css" rel="stylesheet" />
<!--jQuery link so it will be used in the future-->
<script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
@*Home page image content*@

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="intro-container">
            <img class="intro-img" src="~/Content/Images/car1.jpg" />
            <div class="intro-text">
                <h2>808 : Seems like you heard it before?</h2>
            </div>
        </div>
    </div>
</div>

<div class="second-row">
    <div class="col-12">
        <div class="progress"></div>
        <div class="cube-wrap">
            <div class="cube">
                <div class="side top"></div>
                <div class="side bottom"></div>
                <div class="side front"></div>
                <div class="side back"></div>
                <div class="side left"></div>
                <div class="side right"></div>
            </div>

        </div>
    </div>
</div>

<div class="row" id="title">
    <div class="arrow bounce">
        <h1> Explore our albums</h1>
    </div>
</div>

<div class="row">
    <div id="third-row">
        <div class="col-12">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a class="highlight">
                    <img src="~/Content/Images/6LackAlbum10.jpg" class="img-rounded" />
                </a>
            </div>
            <div class="col-md-3"> </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <a class="highlight">
                <img src="~/Content/Images/2pacAlbum1.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-4">
            <a class="highlight">
                <img src="~/Content/Images/iceCubeAlbum3.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row" style="margin-top:9%">
    <div class="col-12">
        <div class="col-md-3">
            <a class="highlight">
                <img src="~/Content/Images/kcRebellAlbum5.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-1">  </div>
        <div class="col-md-3">
            <a class="highlight">
                <img src="~/Content/Images/summerCemAlbum7.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-1">  </div>
        <div class="col-md-3"> </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="col-md-3"></div>
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <a class="highlight">
                <img src="~/Content/Images/50centAlbum12.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a class="highlight">
                <img src="~/Content/Images/pnlAlbum8.png" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <a class="highlight">
                <img src="~/Content/Images/soolkingAlbum13.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div id="third-row">
        <div class="col-12">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a class="highlight">
                    <img src="~/Content/Images/meekMillAlbum9.jpg" class="img-rounded" />
                </a>
            </div>
            <div class="col-md-3"> </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:9%">
    <div class="col-12">
        <div class="col-md-3">
            <a class="highlight">
                <img src="~/Content/Images/kendrickLamarAlbum11.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-1">  </div>
        <div class="col-md-3">
            <a class="highlight">
                <img src="~/Content/Images/theNotoriusBigAlbum2.png" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-1">  </div>
        <div class="col-md-3">
            <a class="highlight">
                <img src="~/Content/Images/drDreAlbum15.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <a class="highlight">
                <img src="~/Content/Images/CoolioAlbum4.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-4">
            <a class="highlight">
                <img src="~/Content/Images/apache207Album6.jpg" class="img-rounded" />
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div id="third-row">
        <div class="col-12">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a class="highlight">
                    <img src="~/Content/Images/eminemAlbum14.jpg" class="img-rounded" />
                </a>
            </div>
            <div class="col-md-3"> </div>

        </div>
    </div>
</div>

@*Script Section*@
<script>
    var cubeDiv = document.getElementsByClassName("second-row");
    window.addEventListener('scroll', () => {
        document.body.style.setProperty('--scroll', window.pageYOffset / (document.body.offsetHeight - window.innerHeight));
    }, false);
</script>

<script>
    //Show images when scrolling
    function showImages(el) {
        var windowHeight = jQuery(window).height();
        $(el).each(function () {
            var thisPos = $(this).offset().top;

            var topOfWindow = $(window).scrollTop();
            if (topOfWindow + windowHeight - 200 > thisPos) {
                $(this).addClass("fadeIn");
            }
        });
    }

    // if the image in the window of browser when the page is loaded, show that image
    $(document).ready(function () {
        showImages('..img-rounded');
    });

    // if the image in the window of browser when scrolling the page, show that image
    $(window).scroll(function () {
        showImages('.img-rounded');
    });
</script>


